
<div id="about" class="container-fluid">
    <div class="row " >
        
            <div class="col-sm-3 col-md-6 col-lg-8">
                <h2>Jenell Mathias</h2><br>
                <i class="fa fa-envelope" style="font-size:20px;color:white">   mathiasjenell@gmail.com</i><br>
                <i class="fa fa-map-marker" style="font-size:20px;color:white">     Mumbai, India</i><br>
                <i class="fa fa-user" style="font-size:20px;color:white">     Open To Work</i>
                <h3>Hello World!! <br>My name is Jenell Mathias and I am a software engineer. I specialise in making full stack applications. I love exploring new technologies and I like to see myself as a passionate developer and an eternal learner.</h3><br>
                <button class="btn btn-outline-primary btn-lg">Click to Download Resume</button>
                <button class="btn btn-outline-primary btn-lg">Click to Check My Projects</button>
                <br><br>
                <div class="buttons text-center">
                    <a href="https://m.facebook.com/jenell.mathias" style="margin:10px" target="_blank">
                    <i class="fa fa-facebook" style="font-size:20px;color:white"></i>
                    </a>
                    <a href="https://github.com/jmathiasj" target="_blank" style="margin:10px">
                    <i class="fa fa-github" style="font-size:20px;color:white"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/jenell-mathias" target="_blank" style="margin:10px">
                    <i class="fa fa-linkedin" style="font-size:20px;color:white"></i>
                    </a>
                  </div>
            </div>
            <div class="col-sm-4">
                <span><img src="../../assets/aboutme.jpg" height="620px" width="400px"></span>
              </div>
        
    </div>
  </div>
  